* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "satoshi", sans-serif;
  font-weight: 500;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

input,
select {
  vertical-align: middle;
}
ol,
ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}
